[Unit]
Description=WebSocket Price Bot
After=network.target

[Service]
User=ubuntu
WorkingDirectory=../root/4narek-info
ExecStart=/usr/bin/go run ../root/4narek-info/main.go
Restart=always

[Install]
WantedBy=multi-user.target