[Unit]
Description=WebSocket Price Bot
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/root/4narek-info  # Абсолютный путь!
ExecStart=/usr/bin/go run /root/4narek-info/main.go  # Абсолютный путь!
Restart=always
RestartSec=5s
Environment="GOPATH=/root/go"
Environment="PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/local/go/bin"

[Install]
WantedBy=multi-user.target